* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    .home {
        background-image: url("/assets/images/cover-pool.jpeg");
        object-fit: contain;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        height: 600px;
        width: 100vw;
    }

    .hdpe {
        background-image: url("/assets/images/cover-pool.jpeg");
        object-fit: contain;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
    }
}
